body {
    color: white;
    background: pink;
    margin: 0px;
}

header {
    border-bottom: solid 1px rgb(223, 124, 137);
    padding: 20px;
    font-size: 32px;
    color: rgb(223, 124, 137);
}

section {
    background: rgb(254, 171, 73);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}